
.card_container{
    
   
    width:250px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    height: 300px;
}
.card_container:hover .button{
    display: block;
}
.card_container img{
    padding: 5px;
    width: 100%;
    height:100px;
    object-fit: contain;
}
.button{
    display: none;
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
     border-radius: 30px;
     margin: 10px 0;
     width: 100%;
     bottom: 0;
     left: 0;
     
     position: absolute;
}
.button:hover{
    background-color: var(--primary-color);

    
    


}
.rating{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.price{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
    font-weight: bold;
    color: black;
}
.products_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.products_container section{
    margin: 0 auto;
}
.product_flex{
    box-shadow: none;
    height: auto;
    display: flex;
    gap: 50px;
    width: 100%;
}
.product_flex h3{
    padding: 20px 0;

}
.product_flex .button{
    width: 150px;
    margin-right: 40px;
    display: block;
}
.product_flex{
    height: 50vh;
}
.product_flex img{
    width: 300px!important;
    height: auto;
    
}

@media screen and (max-width: 600px) {
    .card_container{
        width: 100%;
    }
}


    /* display: inline-block; 
    margin: 10px;
    height: 250px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative; 
    background-color: white; */

/* 
 .card_container:hover{
    cursor: pointer;
}

  .card_container:hover .button{
    display: block;
 }
  img{
    padding: 5px;
    width: 100%;
    height:100px;
    object-fit: contain;
}  */
/* .button{
    display: none;
    position: absolute;
    bottom: 0px; right: 5px;
   padding: 5px 10px;
    display: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
     background-color:var(--primary-color);
     border-radius: 30px;
     margin: 10px 0;
     width: 100%;
      
  
} */
/* 
.rating{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.product_container{
    display: inline-block;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
    flex-wrap: wrap;
    gap: 50px; }
    
    

 .product_container a{
    text-decoration: none;
    color: black;
}
.product_container img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.product_flexed{
    box-shadow: none;
    height: auto;
    display: flex;
    gap: 50px;;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
 
} */